<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Categories</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/css/bootstrap.min.css" media="screen"/>
	<link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" href="/css/pills.css " />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="/js/pills.js"></script>
	<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
</head>
<body style="background-color:#666">

<nav class="navbar navbar-inverse">  
<!-- <nav class="navbar navbar-dark bg-primary"> -->
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PILL REMINDER</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Categories</a></li> 
      <li ><a href="/pillsHome">Pills</a></li>
    </ul>
  </div>
</nav>
 <div class="container">

<!-- 	<div class="pagination-centered"> -->
<br/><br/>

          <button class="btn btn-primary" id="getCategories">View All</button>
          <button class="btn btn-primary" id="addCategories">Add </button>
          <button class="btn btn-primary" id="editButton">Edit</button>
          <button class="btn btn-primary" id="deleteButton">Delete</button>

 
	  </div>
	  <div class="container">
		 <form style="background-color:#D3D3D3;" id = "categories" class="col-md-6">
		 </form>


		  <div id="editItems"><br/>
		  		<form enctype="multipart/form-data" class="col-md-9" style="background-color:#D3D3D3" id="EditCategoryForm" >
					    <div class="modal-header ">
							<h4 class="modal-title">Edit the category</h4>
						</div><br/>
            		<div class="form-group" style="background-color:#D3D3D3">
	                    <label class="col-lg-3 control-label">Category Name</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" id="cname" name="categoryName" /><br/>
	                    	 <button id="editSubmit" type="submit" class="btn btn-primary" name="button">Save</button>
	                    </div>
                	</div>           		

               </form>
  
		  </div>
		  <div id="addItems"><br/>
		  		<form enctype="multipart/form-data" class="col-md-9" style="background-color:#D3D3D3" id="AddCategoryForm" >
					<div class="modal-header ">
							<h4 class="modal-title">Add a category</h4>
						</div><br/>
            		<div class="form-group" style="background-color:#D3D3D3">
	                    <label class="col-lg-3 control-label">Category Name</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" id="addname" name="categoryName" />
	                    	 <button id="addSubmit" class="btn btn-primary" name="button">Save</button>
	                    </div>
                	</div>           		

               </form>
  
		  </div>
		  
	</div>	 


</body>
</html>