<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" href="css/pills.css " />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/user.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/angularjs/angular.min.js"></script>
<script type="text/javascript" src="js/adminHomeController.js"></script>
</head>
<body ng-app="app" ng-controller="home as home"
	style="background-color: #666">
	<div class="jumbotron vertical-center" ng-show="!home.authenticated">
		<div class="container text-center">
			<a class="btn btn-large btn-info loginBtn loginBtn--google"
				href="login">Login with Google</a>
		</div>
	</div>
	<div class="container" ng-show="home.authenticated">
		<div id="adminDiv" ng-show="home.role1">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">PILL REMINDER</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="./">Feed</a></li>
						<li ><a href="categoryManager">Categories</a></li>
						<li><a href="pillsManager">Pills</a></li>
					</ul>
					<button type="button" ng-click="home.logout()" class="btn btn-default navbar-btn navbar-right">Sign out</button>
					<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><i><span ng-bind="home.user.userEmail"></span></i></a></p>				
				</div>
			</nav>
		</div>
		<div id="userDiv" ng-show="!home.role1">
					<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">PILL REMINDER</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="./">Feed</a></li>
						<li><a href="userHome">Alarms For Today</a></li>
						<li><a href="alarmManager">Alarm Manager</a></li>
					</ul>
					<button type="button" ng-click="home.logout()" class="btn btn-default navbar-btn navbar-right">Sign out</button>
					<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><i><span ng-bind="home.user.userEmail"></span></i></a></p>				
				</div>
			</nav>
		</div>
		<br/><br/><br/>
		<div class="loader"></div>
		<div class="row" id="feed" >
        </div>
	</div>
</body>
</html>