<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pills</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" href="css/pills.css " />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/admin.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body style="background-color: #666">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="./">PILL REMINDER</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="./">Feed</a></li>
				<li><a href="categoryManager">Categories</a></li>
				<li class="active"><a href="pillsManager">Pills</a></li>
			</ul>
			<button type="button"
				class="btn btn-default navbar-btn navbar-right logout">Sign
				out</button>
		</div>
	</nav>
	<div class="container ">
		<div class="alert alert-warning">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Warning!</strong> Please enter a valid pill name.
		</div>
		<div class="col-md-9">
			<div class="list-group">
				<ul id="viewPills">
					<li class="list-group-item active">Pill Manager</li>
					<!--         <span class="pull-right glyphicon glyphicon-plus"><label>Add Category</label></span> -->
					<li class="list-group-item"><select id="selectCategory"
						name="categoryId"><option value="0">--Select a
								category to view pills--</option></select><span
						class="addPillPlus pull-right glyphicon glyphicon-plus"><label>Pill</label></span></li>
				</ul>
				<ul id="viewPillsList"></ul>
			</div>
		</div>
	</div>
</body>
</html>