<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" href="css/pills.css " />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/user.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body style="background-color: #666">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">PILL REMINDER</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="userHome">Home</a></li>
				<li><a href="alarmManager">Alarms</a></li>
			</ul>
			<button type="button"
				class="btn btn-default navbar-btn navbar-right logout">Sign
				out</button>
		</div>
	</nav>
	<div class="container ">
		<div class="col-md-9">
			<div class="list-group">
				<ul id="alarmsToday">
					<li class="list-group-item active">Today's Pills</li>
				</ul>

			</div>
		</div>
	</div>
</body>

</html>